<div class="col-md-7">
  <div class="well">
    <h3>Welcome to Handoff</h3>
    <p>
    Handoff is a platform for next generation care coordination. With Handoff, 
    providers can collaboratively annotate FHIR-accessible electronic medical
    records to insure efficient and continuous care. Handoff is meant to 
    supplant the phone calls, texts and other forms of informal communcation
    that are essential to care coordination but largely overlooked by 
    contemporary EHR systems.
    </p>
    <%= link_to 'Learn more!', about_path %>
  </div>
</div>

<div class="col-md-4">
  <h2>Log in</h2>

  <%= form_for(User.new, url: session_path('user')) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
