<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <h1>Welcome to Handoff</h1>
      <p>
      Handoff is a platform for next generation care coordination. With Handoff,
      providers can collaboratively annotate FHIR-accessible electronic medical
      records to insure efficient and continuous care. Handoff is meant to
      supplant the phone calls, texts and other forms of informal communication
      that are essential to care coordination but largely overlooked by
      contemporary EHR systems.
      </p>
      <%= link_to 'Learn more!', about_path %>
    </div>
  </div>
</div>

<div class="row text-center">
  <h1>
    Demo Users<br>
    <small><strong>Log in</strong> as a user with one of these roles:</small>
  </h1>

  <div class="col-sm-4">
    <button class="btn btn-primary btn-lg prefill-login" data-user-email="dr-peters@cardio.med">Collaborator 1</button>
    <blockquote><small>
      A doctor at a neighboring practice who often receives the Initiator's patients.
    </small></blockquote>
  </div>

  <div class="col-sm-4">
    <button class="btn btn-success btn-lg prefill-login" data-user-email="dr-johnson@pcp.local">Initiator</button>
    <blockquote><small>
      A doctor whose account is configured with access to all electronic medical records provided by his practice's FHIR API.
    </small></blockquote>
  </div>

  <div class="col-sm-4">
    <button class="btn btn-primary btn-lg prefill-login" data-user-email="dr-erickson@pulmo.med">Collaborator 2</button>
    <blockquote><small>
      An expert physician who the Initiator often goes to for advice when making tough calls regarding a patient, for patients that have given consent.
    </small></blockquote>
    </div>
</div>

<div class="row hidden">
  <div class="col-sm-2 col-sm-offset-5">
    <h2>Log in</h2>

    <%= form_for(User.new, url: session_path('user')) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
