<% condition = conditions[0] %>
<div id="<%= condition.id %>" class="annotatable">
  <div class="well well-sm">
    <%= render 'handoffs/annotate_button' %>

    <% if conditions.size > 1 %>
    <button class="btn btn-default btn-annotate pull-right" title="View prior occurrences of condition">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </button>
    <% end %>

    <h4><%= condition.value %></h4>
    <table class="table">
      <tr>
        <th>Onset</th>
        <th>Status</th>
        <th>Code</th>
      </tr>
      <tr>
        <td><%= condition.onset_date != nil ? condition.onset_date.to_date : "" %></td>
        <td><%= condition.status %></td>
        <td><%= condition.code %></td>
      </tr>
    </table>
  </div>
</div>
