<div id="<%= condition.id %>" class="annotatable">
  <strong><p><%= "value: #{condition.value}:" %></p></strong>
  <p><%= "id: #{condition.id}:" %></p>
  <p><%= "onset_date: #{condition.onset_date}:" %></p>
  <p><%= "status: #{condition.status}:" %></p>
  <p><%= "code_system: #{condition.code_system}:" %></p>
  <p><%= "code: #{condition.code}:" %></p>
  <br>
</div>

