<div id="<%= observation.id %>" class="annotatable">
  <%= render 'handoffs/annotate_button' %>
  <strong><p><%=  observation.display.html_safe %></p></strong>
  <p><%= "value: #{observation.value}:" %></p>
  <p><%= "units: #{observation.units}:" %></p>
  <p><%= "comment: #{observation.comment}:" %></p>
  <p><%= "pub_date: #{observation.pub_date}:" %></p>
  <p><%= "status: #{observation.status}:" %></p>
  <p><%= "reliability: #{observation.reliability}:" %></p>
  <p><%= "code_system: #{observation.code_system}:" %></p>
  <p><%= "code: #{observation.code}:" %></p>
  <p><%= "id: #{observation.id}:" %></p>
  <br> </br>
</div>
