<% 
observation = observations[0] 

historyId = SecureRandom.uuid

if observations.size > 1
  @datatableIds.push(historyId)  
end
%>
<div id="<%= observation.id %>" class="annotatable">
  <a class="anchor" name="<%= observation.id %>-link"></a>
  <div class="well well-sm">
    <%= render 'handoffs/annotate_button' %>

    <% if observations.size > 1 %>
    <button class="btn btn-default btn-annotate pull-right" title="View older observations" data-toggle="modal" data-target="#<%= "#{historyId}Modal" %>">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </button>
    <% end %>

    <h4><%= observation.code_display %></h4>
    <table class="table">
      <tr>
        <% if observation.value != nil %>
        <th>Value</th>
        <th>Units</th>
        <% else %>
        <th>Result</th>
        <% end %>
        <th>Date</th>
      </tr>
      <tr>
        <% if observation.value != nil %>
        <td><%= observation.value %></td>
        <td><%= observation.units %></td>
        <% else %>
        <td><%= observation.display.html_safe %></td>
        <% end %>
        <td><%= observation.date != nil ? observation.date.to_date : "" %></td>
      </tr>
    </table>
  </div>
  <div class="modal fade" id="<%= "#{historyId}Modal" %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title"><%= observation.code_display %> History</h4>
        </div>
        <div class="modal-body">
          <table id="<%= historyId %>" class="display">
            <thead>
              <tr>
                <% if observation.value != nil %>
                <th>Value</th>
                <th>Units</th>
                <% else %>
                <th>Result</th>
                <% end %>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
            <% observations.each do |obs| %>
              <tr>
                <% if observation.value != nil %>
                <td><%= obs.value %></td>
                <td><%= obs.units %></td>
                <% else %>
                <td><%= obs.display.html_safe %></td>
                <% end %>
                <td><%= obs.date != nil ? obs.date.to_date : "" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
