<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h3><%= @patient_data.full_name %></h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#observations">Observations</a></li>
        <li><a href="#conditions">Conditions</a></li>
        <li><a href="#prescriptions">Prescriptions</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-7">
    <a name="overview"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Patient Overview
      </div>
      <div class="panel-body">
        <%= "Name: #{@patient_data.full_name}" %>
      </div>
    </div>
    <a name="observations"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Observations
      </div>
      <div class="panel-body">
        <% @patient_data.observations.each do |observation| %>
          <%= render partial: "observation", locals: {observation: observation} %>
        <% end %>
      </div>
    </div>
    <a name="conditions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Conditions
      </div>
      <div class="panel-body">
        <% @patient_data.conditions.each do |condition| %>
          <%= render partial: "condition", locals: {condition: condition} %>
        <% end %>
      </div>
    </div>

    <a name="prescriptions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Prescriptions
      </div>
      <div class="panel-body">
        <% @patient_data.medications.each do |prescription| %>
          <%= render partial: "prescription", locals: {prescription: prescription} %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-3 annotations">
    <% if !@handoff %>
    <button type="button" class="btn btn-primary btn-lg fixed" data-toggle="modal" data-target="#handoffModal">
      Create Handoff!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="handoffModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="handoffModalLabel">Create Handoff for <%= "#{@patient_data.full_name}"%></h4>
          </div>
          <div class="modal-body">
           <% @handoff = Handoff.new() %>
           <%= form_for @handoff do |f| %>
             <%= f.hidden_field :creator_id, :value => current_user.id %>
             <%= f.hidden_field :patient_id, :value => @patient_data.pid %>
             <%= f.submit "Create Handoff", class: "btn btn-primary" %>
          <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
