<% @datatableIds = [] %>
<div class="row">
  <div class="col-md-2 col-md-offset-1 fixed">
    <div class="well">
      <div class="text-center">
        <h3><%= @patient_data.full_name %></h3>
      </div>
      <ul class="nav nav-pills nav-stacked patient-nav">
        <% if @handoff %>
        <li><a href="#handoff">Handoff</a></li>
        <% end %>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#conditions">Conditions</a></li>
        <li><a href="#prescriptions">Prescriptions</a></li>
        <li><a href="#observations">Observations</a></li>
      </ul>
      <hr>
      <% if !@handoff %>
        <button type="button" class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#handoffModal">
          Create Handoff!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="handoffModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <% @handoff = Handoff.new() %>
              <%= form_for @handoff do |f| %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="handoffModalLabel">Create Handoff for <%= "#{@patient_data.full_name}"%></h4>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <tr>
                      <td><%= f.label :name %></td>
                      <td><%= f.text_field :name, :value => "#{@patient_data.full_name} - #{DateTime.now.to_date}", :size => 40 %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :description %></td>
                      <td><%= f.text_area  :description, :size => "40x5" %></td>
                    </tr>
                  </table>
                  <%= f.hidden_field :creator_id, :value => current_user.id %>
                  <%= f.hidden_field :patient_id, :value => @patient_data.pid %>
                </div>
                <div class="modal-footer">
                  <%= f.submit "Create Handoff", class: "btn btn-primary" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% else %>
        <button type="button" class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#shareModal">
          Sharing
        </button>

        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <%
                @share  = Share.new()
                currentIds = @handoff.shares.map { |s| s.user_id }
                possibleUsers = User.where("id not in (?)", currentIds)
                selectOptions = possibleUsers.map { |u| [u.email, u.id] }
              %>

              <%= form_for @share do |f| %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="shareModalLabel">Share with Collaborators</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <i>Disclaimer: The data you are about to share is protected by HIPAA. Don't share this data without patient consent.</i>
                  </p>
                 <%= f.hidden_field :handoff_id, :value => @handoff.id %>
                 <p>
                   <%= f.select :user_id, selectOptions %>
                 </p>
              </div>
                <div class="modal-footer">
                  <%= f.submit "Share Handoff", class: "btn btn-primary" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <% if @handoff %>
    <a class="anchor" name="handoff"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Handoff
      </div>
      <div class="panel-body">
        <table>
          <tr><td><strong>Name:</strong></td><td><%= @handoff.name %></td></tr>
          <tr><td><strong>Description:</strong></td><td><%= @handoff.description %></td></tr>
        </table>
      </div>
    </div>
    <% end %>

    <a class="anchor" name="overview"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Patient Summary
      </div>
      <div class="panel-body">
        <b> Name: </b><%= "#{@patient_data.full_name}" %> <br>
        <b> Weight: </b><%= "#{@patient_data.weight}"%> <br>
        <b> Height: </b> <%= @patient_data.height %> <br>
      </div>
    </div>

    <a class="anchor" name="conditions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Conditions
      </div>
      <div class="panel-body">
        <% @patient_data.groupedAndSortedConditions.each do |key, conditions| %>
          <%= render partial: "patients/condition", locals: {conditions: conditions} %>
        <% end %>
      </div>
    </div>

    <a class="anchor" name="prescriptions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Prescriptions
      </div>
      <div class="panel-body">
        <% @patient_data.groupedAndSortedMedications.each do |key, medications| %>
          <%= render partial: "patients/prescription", locals: {prescriptions: medications} %>
        <% end %>
      </div>
    </div>

    <a class="anchor" name="observations"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Observations
      </div>
      <div class="panel-body">
        <% groupedObservations = @patient_data.groupedAndSortedObservations
           groupedObservations.keys.sort.each do |key| %>
          <%= render partial: "patients/observation", locals: {observations: groupedObservations[key]} %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-3 col-md-offset-9 annotations">
  </div>
</div>

<% content_for :body_end do %>
  <script type="text/javascript">
  <% @datatableIds.each do |id| %>
 $(document).ready(function() {
    $('<%= "##{id}" %>').dataTable({
      "bLengthChange": false,
      "bFilter": false,
      "iDisplayLength": 50
    });
} );

  <% end %>
  </script>
<% end %>
%>
