<% @datatableIds = [] %>
<div class="row">
  <div class="col-md-2 col-md-offset-1 fixed">
    <div class="well">
      <div class="text-center">
        <h3><%= @patient_data.full_name %></h3>
      </div>
      <ul class="nav nav-pills nav-stacked patient-nav">
        <% if @handoff %>
        <li><a href="#handoff">Handoff</a></li>
        <% end %>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#conditions">Conditions</a></li>
        <li><a href="#prescriptions">Prescriptions</a></li>
        <li><a href="#observations">Observations</a></li>
      </ul>
      <hr>
      <% if !@handoff %>
        <button type="button" class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#handoffModal">
          Create Handoff!
        </button>
      <% else %>
        <button type="button" class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#shareModal">
          Sharing
        </button>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <% if @handoff %>
    <a class="anchor" name="handoff"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @patient_data.fname %>'s Handoffs
      </div>
      <div class="panel-body">
        <table>
          <tr><td><strong>Name: </strong></td><td><%= @handoff.name %></td></tr>
          <tr><td><strong>Description: </strong></td><td><%= @handoff.description %></td></tr>
          <tr><td><strong>Created By: </strong></td><td><%= User.find(@handoff.creator_id).email %></td></tr>
          <tr><td><strong>Date Created: <br></strong></td><td><%= @handoff.created_at.strftime("%B %d, %Y") %></td></tr>
        </table>
      </div>
    </div>
    <% end %>

    <a class="anchor" name="overview"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Patient Summary
      </div>
      <div class="panel-body">
        <b> Name: </b><%= "#{@patient_data.full_name}" %> <br>
        <b> Weight: </b><%= "#{@patient_data.weight}"%> <br>
        <b> Height: </b> <%= @patient_data.height %> <br>
      </div>
    </div>

    <a class="anchor" name="conditions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Conditions
      </div>
      <div class="panel-body">
        <% @patient_data.groupedAndSortedConditions.each do |key, conditions| %>
          <%= render partial: "patients/condition", locals: {conditions: conditions} %>
        <% end %>
      </div>
    </div>

    <a class="anchor" name="prescriptions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Prescriptions
      </div>
      <div class="panel-body">
        <% @patient_data.groupedAndSortedMedications.each do |key, medications| %>
          <%= render partial: "patients/prescription", locals: {prescriptions: medications} %>
        <% end %>
      </div>
    </div>

    <a class="anchor" name="observations"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Observations
      </div>
      <div class="panel-body">
        <% groupedObservations = @patient_data.groupedAndSortedObservations
           groupedObservations.keys.sort.each do |key| %>
          <%= render partial: "patients/observation", locals: {observations: groupedObservations[key]} %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <%= render 'annotations' if @handoff %>
  </div>
</div>

<% if !@handoff %>
  <div class="modal fade" id="handoffModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <% @newHandoff = Handoff.new() %>
        <%= form_for @newHandoff do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="handoffModalLabel">Create Handoff for <%= "#{@patient_data.full_name}"%></h4>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <td><%= f.label :name %></td>
                <td><%= f.text_field :name, :value => "#{@patient_data.full_name} - #{DateTime.now.to_date}", :size => 40 %></td>
              </tr>
              <tr>
                <td><%= f.label :description %></td>
                <td><%= f.text_area  :description, :size => "40x5" %></td>
              </tr>
            </table>
            <%= f.hidden_field :creator_id, :value => current_user.id %>
            <%= f.hidden_field :patient_id, :value => @patient_data.pid %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Create Handoff", class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%
          @share  = Share.new()
          currentIds = @handoff.shares.map { |s| s.user_id }
          possibleUsers = User.where("id not in (?)", currentIds)
          selectOptions = possibleUsers.map { |u| [u.email, u.id] }
        %>

        <%= form_for @share do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="shareModalLabel">Share with Collaborators</h4>
          </div>
          <div class="modal-body">
            <p>
			  <b>Disclaimer:</b>
			</p>
			
			<p>
			  Handoff records contain privileged and
              confidential information, including protected health
              information (PHI) which is protected by federal and
              state privacy laws. Handoff records are legally
              required to only be viewed by the person(s) that have
              been explicitly authorized to do so by the patient
			  via a signed HIPAA release form.
			</p>
			
			<p>
			  By using Handoff, you agree to release the Handoff application
              and the associates of the Handoff application of all
              liability related to the storage, transmission
              (including sharing), and processing (including viewing)
              of sensitive information, including patient data. By
              using Handoff you assume all liability related to the
              storage, transmission (including sharing), and
              processing (including viewing) of the sensitive
              information, including patient data, that you view
              and/or share.
            </p>
            
            <p>
			  If you receive a handoff granting you access to patient data for
			  which you are not authorized, you:
				 <ul>
					 <li>Are hereby notified that any review,
				 	dissemination, distribution, duplication, or
				 	accessing of that Handoff patient data is
				 	strictly prohibited, and;</li>
					<li>Must destroy any copies of that
					information, and;</li>
					<li>Must contact the sender notifying them
					that you are not authorized to access the
					information they have shared with you.</li>
				  </ul>
			</p>
			
			<p>
			  For additional information on HIPAA requirements and
			  restrictions, see <a href="http://www.hhs.gov/ocr/privacy/hipaa/administrative/
			  combined/hipaa-simplification-201303.pdf">45 CFR Parts 160, 162, and 164</a>.<br>
			</p>
			
           <%= f.hidden_field :handoff_id, :value => @handoff.id %>
           <p>
             <%= f.select :user_id, selectOptions %>
           </p>
        </div>
          <div class="modal-footer">
            <%= f.submit "Share Handoff", class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :body_end do %>
  <script type="text/javascript">
  <% @datatableIds.each do |id| %>
 $(document).ready(function() {
    $('<%= "##{id}" %>').dataTable({
      "bLengthChange": false,
      "bFilter": false,
      "iDisplayLength": 50
    });
} );

  <% end %>
  </script>
<% end %>
