<div id="<%= prescription.id %>" class="annotatable">
  <strong><p><%= "value: #{prescription.value}:" %></p></strong>
  <p><%= "id: #{prescription.id}:" %></p>
  <p><%= "status: #{prescription.status}:" %></p>
  <p><%= "prescriber: #{prescription.prescriber}:" %></p>
  <p><%= "written_date: #{prescription.written_date}:" %></p>
  <p><%= "dosage_value: #{prescription.dosage_value}:" %></p>
  <p><%= "dosage_units: #{prescription.dosage_units}:" %></p>
  <p><%= "dosage_text: #{prescription.dosage_text}:" %></p>
  <p><%= "dispense_quantity: #{prescription.dispense_quantity}:" %></p>
  <p><%= "dispense_repeats: #{prescription.dispense_repeats}:" %></p>
  <p><%= "coding_system: #{prescription.coding_system}:" %></p>
  <p><%= "code: #{prescription.code}:" %></p>
  <br>
</div>

