<% prescription = prescriptions[0] %>
<div id="<%= prescription.id %>" class="annotatable">
  <div class="well well-sm">
    <%= render 'handoffs/annotate_button' %>

    <% if prescriptions.size > 1 %>
    <button class="btn btn-default btn-annotate pull-right" title="View older prescriptions">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </button>
    <% end %>

    <h4><%= prescription.value %></h4>
    <table class="table">
      <tr>
        <th>Prescriber</th>
        <th>Date</th>
        <th>Dosage Value</th>
        <th>Dosage Units</th>
      </tr>
      <tr>
        <td><%= prescription.prescriber %></td>
        <td><%= prescription.written_date != nil ? prescription.written_date.to_date : "" %></td>
        <td><%= prescription.dosage_value %></td>
        <td><%= prescription.dosage_units %></td>
      </tr>
    </table>
  </div>
</div>
